__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

.pytest_cache/
.mypy_cache/
.ruff_cache/

.DS_Store
Thumbs.db

.idea/.gitignore
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/sr-kg.iml
.idea/vcs.xml

